name: Release

on:
  push:
    branches:
      - main
      - develop

jobs:
  release:
    permissions:
      contents: write
      packages: write
      id-token: write
    name: Release
    uses: ctfpilot/ci/.github/workflows/release.yml@v1.3.0
    secrets:
      RELEASE_GH_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
    with:
      repository: ctfpilot/ctfd-manager
      ENVIRONMENT: Release
